
<header>
	<div class="container">
	  <!-- sub-nav -->
	  <div class="row sub-nav">
	      <div class="col-md-7 col-sm-6 col-xs-12 ">
	          <a class="logo" href="index.html">
	          	<img src="assets/img/logo.png" alt="Antin Travel - Nơi kiến tạo những hành trình hạnh phúc">
						</a>
	      </div>
	      <div class="col-md-5 col-sm-6 col-xs-12">
	          <ul class="social">
	              <li>
	                <div class="phone">08 3 826 6766</div>
	              </li>
	              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
	              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
	              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
	              <li><a href="#"><img src="assets/img/flagVietnam.png" /></a></li>
	              <li><a href="#"><img src="assets/img/flagUS.png" /></a></li>
	          </ul>
	      </div>
	  </div>

	  <!-- header title -->
	  <div class="row">
	      <div class="col-sm-12">
	          <div class="header-content">
	              <div class="header-content-inner">
	                  <h1>Welcome to Antin Travel</h1>
	                  <h2>Nơi kiến tạo những hành trình hạnh phúc</h2>
	              </div>
	          </div>
	      </div>
	  </div>
	  <!-- Tour -->

	  <!--headerImg-->
	  <div class="headerImg">
	      <img src="assets/img/header/headerImg.png" alt="" class="">
	  </div>
	</div>
</header>