<!--promotion-->
<section class="list-tour">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-8"><h1>Khuyến Mãi</h1></div>
            <div class="col-md-4 col-sm-4 col-xs-4 text-right"><a href="#" class="more">Xem thêm</a></div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="item" onclick="location.href='details.html'">
                    <div class="date">
                        <div class="month">t5</div>
                        <div class="divider"></div>
                        <div class="day">24</div>
                    </div>
                    <div class="tour-img">
                        <div class="tour-name">Thiên đường Maldives</div>
                        <div class="mask"></div>
                        <img class="img-responsive" src="assets/img/tour/tour5.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="pull-left">
                            <div class="total-day">6 ngày 5 đêm</div>
                            <div class="locationA">Hồ Chí Minh</div>
                            <div class="vote">
                                <div class="vote-full"></div>
                                <div class="vote-full"></div>
                                <div class="vote-full"></div>
                                <div class="vote-full"></div>
                                <div class="vote-outline"></div>
                            </div>
                        </div>
                        <div class="price">
                            <div class="normal">8,980,000 vnđ</div>
                            <div class="box-normal red">9,980,000 vnđ</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="item">
                    <div class="date">
                        <div class="month">t5</div>
                        <div class="divider"></div>
                        <div class="day">24</div>
                    </div>
                    <div class="tour-img">
                        <div class="tour-name">Du lịch Thái Lan chất lượng cao - Nông trại Cừu – Tắm biển Đảo Koh Lanta
                            – Hái trái cây tại vườn
                        </div>
                        <div class="mask"></div>
                        <img class="img-responsive" src="assets/img/tour/tour6.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="pull-left">
                            <div class="total-day">6 ngày 5 đêm</div>
                            <div class="locationA">Hồ Chí Minh</div>
                            <div class="vote">
                                <div class="vote-full"></div>
                                <div class="vote-full"></div>
                                <div class="vote-full"></div>
                                <div class="vote-full"></div>
                                <div class="vote-outline"></div>
                            </div>
                        </div>
                        <div class="price">
                            <div class="normal">8,980,000 vnđ</div>
                            <div class="box-normal red">9,980,000 vnđ</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="item">
                    <div class="date">
                        <div class="month">t5</div>
                        <div class="divider"></div>
                        <div class="day">24</div>
                    </div>
                    <div class="tour-img">
                        <div class="tour-name">Phan Thiết - Mũi Né - lâu đài rượu vang - Công viên tượng cát</div>
                        <div class="mask"></div>
                        <img class="img-responsive" src="assets/img/tour/tour7.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="pull-left">
                            <div class="total-day">6 ngày 5 đêm</div>
                            <div class="locationA">Hồ Chí Minh</div>
                            <div class="vote">
                                <div class="vote-full"></div>
                                <div class="vote-full"></div>
                                <div class="vote-full"></div>
                                <div class="vote-full"></div>
                                <div class="vote-outline"></div>
                            </div>
                        </div>
                        <div class="price">
                            <div class="normal">8,980,000 vnđ</div>
                            <div class="box-normal red">9,980,000 vnđ</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="item">
                    <div class="date">
                        <div class="month">t5</div>
                        <div class="divider"></div>
                        <div class="day">24</div>
                    </div>
                    <div class="tour-img">
                        <div class="tour-name">Nha Trang - Festival biển 2017</div>
                        <div class="mask"></div>
                        <img class="img-responsive" src="assets/img/tour/tour8.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="pull-left">
                            <div class="total-day">6 ngày 5 đêm</div>
                            <div class="locationA">Hồ Chí Minh</div>
                            <div class="vote">
                                <div class="vote-full"></div>
                                <div class="vote-full"></div>
                                <div class="vote-full"></div>
                                <div class="vote-full"></div>
                                <div class="vote-outline"></div>
                            </div>
                        </div>
                        <div class="price">
                            <div class="normal">8,980,000 vnđ</div>
                            <div class="box-normal red">9,980,000 vnđ</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="divider"></div>
            </div>
        </div>
    </div>
</section>

<!--Domestic-->
<section class="list-tour mtop30">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-8"><h1>Điểm Đến Nổi Bật Trong Nước</h1></div>
            <div class="col-md-4 col-sm-4 col-xs-4 text-right"><a href="#" class="more">Xem thêm</a></div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="item">
                    <div class="date">
                        <div class="month">t5</div>
                        <div class="divider"></div>
                        <div class="day">24</div>
                    </div>
                    <div class="tour-img">
                        <div class="tour-name">Thiên đường Maldives</div>
                        <div class="mask"></div>
                        <img class="img-responsive" src="assets/img/tour/tour10.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="pull-left">
                            <div class="total-day">6 ngày 5 đêm</div>
                            <div class="locationA">Hồ Chí Minh</div>
                            <div class="vote">
                                <div class="vote-full"></div>
                                <div class="vote-full"></div>
                                <div class="vote-full"></div>
                                <div class="vote-full"></div>
                                <div class="vote-outline"></div>
                            </div>
                        </div>
                        <div class="price">
                            <div class="box-normal">9,980,000 vnđ</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="item">
                    <div class="date">
                        <div class="month">t5</div>
                        <div class="divider"></div>
                        <div class="day">24</div>
                    </div>
                    <div class="tour-img">
                        <div class="tour-name">Singapore - Malaysia</div>
                        <div class="mask"></div>
                        <img class="img-responsive" src="assets/img/tour/tour11.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="pull-left">
                            <div class="total-day">6 ngày 5 đêm</div>
                            <div class="locationA">Hồ Chí Minh</div>
                            <div class="vote">
                                <div class="vote-full"></div>
                                <div class="vote-full"></div>
                                <div class="vote-full"></div>
                                <div class="vote-full"></div>
                                <div class="vote-outline"></div>
                            </div>
                        </div>
                        <div class="price">
                            <div class="box-normal">9,980,000 vnđ</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="item">
                    <div class="date">
                        <div class="month">t5</div>
                        <div class="divider"></div>
                        <div class="day">24</div>
                    </div>
                    <div class="tour-img">
                        <div class="tour-name">Phan Thiết - Mũi Né - lâu đài rượu vang - Công viên tượng cát …</div>
                        <div class="mask"></div>
                        <img class="img-responsive" src="assets/img/tour/tour12.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="pull-left">
                            <div class="total-day">6 ngày 5 đêm</div>
                            <div class="locationA">Hồ Chí Minh</div>
                            <div class="vote">
                                <div class="vote-full"></div>
                                <div class="vote-full"></div>
                                <div class="vote-full"></div>
                                <div class="vote-full"></div>
                                <div class="vote-outline"></div>
                            </div>
                        </div>
                        <div class="price">
                            <div class="box-normal">9,980,000 vnđ</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="item">
                    <div class="date">
                        <div class="month">t5</div>
                        <div class="divider"></div>
                        <div class="day">24</div>
                    </div>
                    <div class="tour-img">
                        <div class="tour-name">Nha Trang - Festival biển 2017</div>
                        <div class="mask"></div>
                        <img class="img-responsive" src="assets/img/tour/tour15.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="pull-left">
                            <div class="total-day">6 ngày 5 đêm</div>
                            <div class="locationA">Hồ Chí Minh</div>
                            <div class="vote">
                                <div class="vote-full"></div>
                                <div class="vote-full"></div>
                                <div class="vote-full"></div>
                                <div class="vote-full"></div>
                                <div class="vote-outline"></div>
                            </div>
                        </div>
                        <div class="price">
                            <div class="box-normal">9,980,000 vnđ</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="divider"></div>
            </div>
        </div>
    </div>
</section>

<!--Aboard-->
<section class="list-tour mtop30">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-8"><h1>Điểm Đến Nổi Bật Nước Ngoài</h1></div>
            <div class="col-md-4 col-sm-4 col-xs-4 text-right"><a href="#" class="more">Xem thêm</a></div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="item">
                    <div class="date">
                        <div class="month">t5</div>
                        <div class="divider"></div>
                        <div class="day">24</div>
                    </div>
                    <div class="tour-img">
                        <div class="tour-name">Thiên đường Maldives</div>
                        <div class="mask"></div>
                        <img class="img-responsive" src="assets/img/tour/tour1.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="pull-left">
                            <div class="total-day">6 ngày 5 đêm</div>
                            <div class="locationA">Hồ Chí Minh</div>
                            <div class="vote">
                                <div class="vote-full"></div>
                                <div class="vote-full"></div>
                                <div class="vote-full"></div>
                                <div class="vote-full"></div>
                                <div class="vote-outline"></div>
                            </div>
                        </div>
                        <div class="price">
                            <div class="box-normal">9,980,000 vnđ</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="item">
                    <div class="date">
                        <div class="month">t5</div>
                        <div class="divider"></div>
                        <div class="day">24</div>
                    </div>
                    <div class="tour-img">
                        <div class="tour-name">Singapore - Malaysia</div>
                        <div class="mask"></div>
                        <img class="img-responsive" src="assets/img/tour/tour2.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="pull-left">
                            <div class="total-day">6 ngày 5 đêm</div>
                            <div class="locationA">Hồ Chí Minh</div>
                            <div class="vote">
                                <div class="vote-full"></div>
                                <div class="vote-full"></div>
                                <div class="vote-full"></div>
                                <div class="vote-full"></div>
                                <div class="vote-outline"></div>
                            </div>
                        </div>
                        <div class="price">
                            <div class="box-normal">9,980,000 vnđ</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="item">
                    <div class="date">
                        <div class="month">t5</div>
                        <div class="divider"></div>
                        <div class="day">24</div>
                    </div>
                    <div class="tour-img">
                        <div class="tour-name">Phan Thiết - Mũi Né - lâu đài rượu vang - Công viên tượng cát …</div>
                        <div class="mask"></div>
                        <img class="img-responsive" src="assets/img/tour/tour3.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="pull-left">
                            <div class="total-day">6 ngày 5 đêm</div>
                            <div class="locationA">Hồ Chí Minh</div>
                            <div class="vote">
                                <div class="vote-full"></div>
                                <div class="vote-full"></div>
                                <div class="vote-full"></div>
                                <div class="vote-full"></div>
                                <div class="vote-outline"></div>
                            </div>
                        </div>
                        <div class="price">
                            <div class="box-normal">9,980,000 vnđ</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="item">
                    <div class="date">
                        <div class="month">t5</div>
                        <div class="divider"></div>
                        <div class="day">24</div>
                    </div>
                    <div class="tour-img">
                        <div class="tour-name">Nha Trang - Festival biển 2017</div>
                        <div class="mask"></div>
                        <img class="img-responsive" src="assets/img/tour/tour4.jpg" alt="">
                    </div>
                    <div class="content">
                        <div class="pull-left">
                            <div class="total-day">6 ngày 5 đêm</div>
                            <div class="locationA">Hồ Chí Minh</div>
                            <div class="vote">
                                <div class="vote-full"></div>
                                <div class="vote-full"></div>
                                <div class="vote-full"></div>
                                <div class="vote-full"></div>
                                <div class="vote-outline"></div>
                            </div>
                        </div>
                        <div class="price">
                            <div class="box-normal">9,980,000 vnđ</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="divider"></div>
            </div>
        </div>
    </div>
</section>

<!--event-->
<section class="event mtop30">
    <div class="container">
        <div class="row">
            <div class="col-md-12"><h1>Sự Kiện Du Lịch</h1></div>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-3">
                <div class="event-img"><img class="img-responsive" src="assets/img/tour/tour9.jpg" alt=""></div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="box-content">
                    <a href="event-detail.html" class="title">Lễ hội hoa Anh Đào tại Nhật bản</a>
                    <div class="cmt">
                        <div class="like">Lượt thích: <span>28</span></div>
                        <div class="like">Bình luận: <span>32</span></div>
                    </div>
                    <div class="decr">Đồng lúa chạy dài dọc theo dòng sông. Cảnh sắc nơi đây thay đổi theo từng mùa Đồng
                        lúa chạy dài dọc theo dòng sông. Cảnh sắc nơi đây thay đổi theo từng mùa
                    </div>
                    <a class="">Xem chi tiết</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="event-img"><img class="img-responsive" src="assets/img/tour/tour10.jpg" alt=""></div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="box-content">
                    <a href="event-detail.html" class="title">Mùa lúa chín Ninh Bình Mùa lúa chín Ninh BìnhMùa lúa chín Ninh Bình</a>
                    <div class="cmt">
                        <div class="like">Lượt thích: <span>28</span></div>
                        <div class="like">Bình luận: <span>32</span></div>
                    </div>
                    <div class="decr">Đồng lúa chạy dài dọc theo dòng sông. Cảnh sắc nơi đây thay đổi theo từng mùa Đồng
                        lúa chạy dài dọc theo dòng sông. Cảnh sắc nơi đây thay đổi theo từng mùa
                    </div>
                    <a class="">Xem chi tiết</a>
                </div>
            </div>
        </div>
    </div>
</section>